@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

html,
body {
  font-family: "Manrope", sans-serif;
  background-color: #f8f8f8;
}

.avatar-box {
  width: 38px !important;
  height: 38px !important;
}

.avatar-image {
  width: 38px !important;
  height: 38px !important;
  object-fit: cover;
  border-radius: 9999px;
}
